.hotel-card{
    border: 1px solid grey;
    padding: 5px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 10px;
}
.space-between{
    display: flex;
    justify-content: space-between;
}
.hotel-img{
    width: 100%;
}
img{
    border-radius: 10px;
}
.hotel-card-info{
    margin-left: 10px;
    margin-top: -20px;
}
.hotel-card-img{
    margin: auto;
}
.bottom-position{
    text-align: center;
}

@media screen and (min-width: 900px) {
    .hotel-card{
        width: 50%;
    }
  }