.info-card{
    box-shadow: 0 0 10px 5px lightgrey;
    width: 250px;
    
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    margin-right: 20px;
}
.info-item{
    display: flex;
    justify-content: space-between;
}
.line{
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
.line:nth-child(odd){
    background-color: honeydew;
}
.line:nth-child(even){
    background-color: whitesmoke;
}